body{
    background-color: lightgray;
}
.changepass-wrapper {
   max-width: 600px;
   margin: 0 auto;
   padding: 100px 20px;
}

.changepass-wrapper h1, .changepass-wrapper h2{
    text-align: center;
 }

.changepass-wrapper input{
    height: 20px;
    width: 100%;
    transition: all 0.6s ease-in-out;
}

.changepass-wrapper form{
    max-width: 335px;
    width: 100%;
    margin: 0 auto;
}

.changepass-wrapper input:hover{
    border: 2px solid black;
}

.changepass-submit{
    margin-top: 15px;
    text-align: center;
}

.changepass-submit button{
    width: 160px;
    padding: 5px;
    background-color: black;
    color: white;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}
.dashboard-link{
    margin-top: 15px;
    text-align: center;
}
.error-message{
    color: red;
}
.success-message{
    color: green;
}